import {
  ProColumns,
  ProTable,
} from "@ant-design/pro-components";
//import { Link } from "react-router-dom";
import useProTable from '../hooks/useProTable';
//import { css } from "@emotion/css";

const columns: ProColumns<<%=(config.namespace ? config.namespace + ".": "") %><%=openApi.schema.title %>>[] = [
 
  <% openApi.parameters.forEach((c, i) => {
    %>
    {
      title: "<%=c.name %>",
      dataIndex: "<%=c.description %>",
    },
    <%});%>
   //{
    //title: '操作',
    //valueType: 'option',
    //key: 'option',
    //width: 100,
    //render: (_, record) => [
      // <a
      //   key="editable"
      //   onClick={() => {
      //     action?.startEditable?.(record.id);
      //   }}
      // >
      //   编辑
      // </a>,
      // <Link to={record.name} rel="noopener noreferrer" key="view">
      //   查看
      // </Link>,
      // <TableDropdown
      //   key="actionGroup"
      //   onSelect={() => action?.reload()}
      //   menus={[
      //     { key: "copy", name: "复制" },
      //     { key: "delete", name: "删除" },
      //   ]}
      // />,
    //,
  //},
];

export default () => {
  const [tableProps] = useProTable({
    url: "<%=openApi.path %>",
    columns: columns,
    <% if (openApi.rowKey) { %>
     rowKey: "<%= openApi.rowKey %>",
<% } %>
   
  });

  return (
    <ProTable {...tableProps} />
  );
};
